.container{
    background-image: url(./pokedex.png);
    position: relative;
    height: 855px;
    width: 860px;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
}

.listOfPokemon{
    position: absolute;
    top: 400px;
    left: 300px;
    height: 250px;
    width: 250px;
}

.pokemonImgContainer{
    height: 150px;
    left: 335px;
    position: relative;
    top: 75px;
}
.pokemon{
    left: 330px;
    position: relative;
    height: 150px;
    top: 75px;
    
}

.greenbutton{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 50px;
    bottom: 325px; 
}

.pokemonImgName{
    left: 350px;
    position: relative;
    top: 60px;
    color: white;
    text-transform: capitalize;
}

.greenlight{
    position: absolute;
    top: 467px;
    left: 10px;
    height: 10px;
    width: 20px;
}

.greenlightActivate{
    background-color: #c0eb6c;
}